<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.png') }}">
    <title>Computer Vision Demo</title>
</head>
<body>
    <div>
        <h2>Computer Vision Demo</h2>
        <h1>Image Recognition</h1>
    </div>
    <div id="file-container">
        <form action = "/recognize" method = "POST" enctype = "multipart/form-data">
            <input type="file" name="image" id="file-input">
            <span class="white-text">Maximum file size: 4 MB</span>
            <input type="submit" value="Submit" id="submit-input">
        </form>
    </div>
    <div id="footer">
        <a href="https://github.com/HenriSchulte-MS/Computer-Vision-in-60-Seconds/" class="white-text">
            Source Code on Github
        </a>
    </div>
</body>
</html>