<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Microsoft Denmark Data & AI Day</title>
</head>
<body>
    <div>
        <h2>Microsoft Denmark Data & AI Day</h2>
        <h1>60-Seconds Image Recognition</h1>
    </div>
    <div id="file-container">
        <form action = "http://localhost:5000/recognize" method = "POST" enctype = "multipart/form-data">
            <input type="file" name="image" id="file-input">
            <input type="submit" value="Submit" id="submit-input">
        </form>
    </div>
</body>
</html>