<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Microsoft Denmark Data & AI Day</title>
</head>
<body>
    <div>
        <h2>Microsoft Denmark Data & AI Day</h2>
        <h1>60-Seconds Image Recognition</h1>
    </div>
    <div id="results-container">
        <div class="results">
            <h2>Computer Vision found:</h2>
            {% for caption in captions %}
                <div>
                    <h3>{{caption.text}}</h3>
                    <h4>With a confidence of {{'%0.2f' | format(caption.confidence * 100)}}%</h4>
                </div>
            {% endfor %}
        </div>
        <img class="results" src={{image}}></img>
    </div>
</body>
</html>